<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Feedback Form</h1>
    <form method="post">
    <table>
       
        <tr>
            <th>feedback_id:</th>
            <td><input type="text" name="feedback_id"></td>
        </tr>
        <tr>
            <th>Wholesaler_id:</th>
            <td><input type="text" name="wholesaler_id"></td>
        </tr>

        <tr>
            <th>Retailer_id:</th>
            <td><input type="text" name="retailer_id"></td>
        </tr>

        <tr>
            <th>Feedback:</th>
            <td><input type="text" name="feedback"></td>
        </tr>
        <tr>
            <th>Date:</th>
            <td><input type="text" name="date"></td>
        </tr>
        
       <tr>
        <td align="center" colspan="2"><input type="submit" name="Submit"></td></tr>
    </table>
    </form>
    


</body>
</html>