<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Product Information</h1>
    <form method="post">
    <table>
       
        <tr>
            <th>Product_id:</th>
            <td><input type="text" name="product_id"></td>
        </tr>
        <tr>
            <th>Product Name:</th>
            <td><input type="text" name="product_name"></td>
        </tr>

        <tr>
            <th>Description:</th>
            <td><input type="text" name="description"></td>
        </tr>

        <tr>
            <th>Category:</th>
            <td><input type="text" name="category"></td>
        </tr>
        <tr>
            <th>Fabric Type:</th>                         
            <td><input type="text" name="fabric_type"></td>
        </tr>
        <tr>
            <th>Color:</th>
            <td><input type="text" name="color"></td>
        </tr>
        <tr>
            <th>Price Per Unit:</th>
            <td><input type="text" name="price_per_unit"></td>
        </tr>
        <tr>
            <th>Stock_Quantity:</th>
            <td><input type="text" name="stock_quantity"></td>
        </tr>

        <tr>
            <th>Minimum Order:</th>
            <td><input type="text" name="minimum_order"></td>
        </tr>

        <tr>
            <th>Image:</th>
            <td><input type="file" name="image"></td>
        </tr>
       <tr>
        <td align="center" colspan="2"><input type="submit" name="Submit"></td></tr>
    </table>
    </form>



</body>
</html>